In [5]:
import pandas as pd
import numpy as np3

In [9]:
s=pd.Series([1,3,5,np.nan,6,8],index=["a","b","c","d","e","f"])
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [11]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [13]:
s.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [21]:
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [25]:
s=pd.Series([1,3,5,np.nan,6,8])
s[0]

1.0

In [27]:
s[2:5]

2    5.0
3    NaN
4    6.0
dtype: float64

In [29]:
s[::2]

0    1.0
2    5.0
4    6.0
dtype: float64

In [33]:
s.index.name="sss"
s

sss
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [37]:
s.index=list("abcdef")
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [39]:
s["a":"c"]

a    1.0
b    3.0
c    5.0
dtype: float64

In [44]:
date=pd.date_range("20180101",periods=6)
date

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [52]:
df=pd.DataFrame(np.random.randn(6,4),index=date,columns=list("ABCD"))
df

                   A         B         C         D
2018-01-01  0.528597  2.226178 -1.720194 -0.073831
2018-01-02  0.284280  0.325740  1.353068  0.614855
2018-01-03 -0.441536 -0.315401 -0.452702 -2.387359
2018-01-04  1.278010  0.286023  0.679780  1.603087
2018-01-05 -0.619169  0.434063  2.953616 -0.400128
2018-01-06 -0.987683  0.421247  0.049939 -0.876338

In [56]:
df2=pd.DataFrame({"A":1,"B":pd.Timestamp("20180101"),"C":pd.Series(1,index=list(range(4)),dtype=float),"D":np.array([3]*4,dtype=int),"E":pd.Categorical(["test","train","test","train"]),"F":"abc"})
df2

   A          B    C  D      E    F
0  1 2018-01-01  1.0  3   test  abc
1  1 2018-01-01  1.0  3  train  abc
2  1 2018-01-01  1.0  3   test  abc
3  1 2018-01-01  1.0  3  train  abc

In [62]:
df.head()

                   A         B         C         D
2018-01-01  0.528597  2.226178 -1.720194 -0.073831
2018-01-02  0.284280  0.325740  1.353068  0.614855
2018-01-03 -0.441536 -0.315401 -0.452702 -2.387359
2018-01-04  1.278010  0.286023  0.679780  1.603087
2018-01-05 -0.619169  0.434063  2.953616 -0.400128
2018-01-06 -0.987683  0.421247  0.049939 -0.876338

In [64]:
df.tail(3)

                   A         B         C         D
2018-01-04  1.278010  0.286023  0.679780  1.603087
2018-01-05 -0.619169  0.434063  2.953616 -0.400128
2018-01-06 -0.987683  0.421247  0.049939 -0.876338

In [66]:
df2.dtypes

A            int64
B    datetime64[s]
C          float64
D            int32
E         category
F           object
dtype: object

In [68]:
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [70]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [72]:
df.values

array([[ 0.52859696,  2.22617804, -1.7201937 , -0.07383061],
       [ 0.28427964,  0.32574006,  1.35306791,  0.61485528],
       [-0.44153622, -0.31540123, -0.45270249, -2.38735915],
       [ 1.27800969,  0.28602261,  0.67978009,  1.6030872 ],
       [-0.61916943,  0.43406286,  2.95361641, -0.40012763],
       [-0.98768322,  0.42124659,  0.04993884, -0.87633842]])

In [75]:
import pandas as pd
df=pd.read_excel(r"D:\《Python数据分析14天入门训练营》课程资料\课程中用到的数据\豆瓣电影数据.xlsx")
df.head()

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [56]:
df.iloc[0]

Unnamed: 0                      0
名字                         肖申克的救赎
投票人数                     692795.0
类型                          剧情/犯罪
产地                             美国
上映时间          1994-09-10 00:00:00
时长                            142
年代                           1994
评分                            9.6
首映地点                       多伦多电影节
Name: 0, dtype: object

In [5]:
df.iloc[0:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [14]:
df.loc[0:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

In [9]:
dit={"名字":"复仇者联盟3","投票人数":"123456","类型":"剧情/科幻","场地":"美国","上映时间":"2018-05-4 00:00:00","时长":142,"年代":2018,"评分":8.7,"首映地点":"美国"}
s=pd.Series(dit)
s.name=38738

In [18]:
s

名字                  复仇者联盟3
投票人数                123456
类型                   剧情/科幻
场地                      美国
上映时间    2018-05-4 00:00:00
时长                     142
年代                    2018
评分                     8.7
首映地点                    美国
Name: 38738, dtype: object

In [11]:
df=df._append(s)
df[-5:]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,场地
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国,NaN
38735,38735.0,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国,NaN
38736,38736.0,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国,NaN
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国,NaN
38738,NaN,复仇者联盟3,123456,剧情/科幻,NaN,2018-05-4 00:00:00,142,2018,8.7,美国,美国

In [13]:
df=df.drop([38738])
df[-5:]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,场地
38733,38733.0,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国,NaN
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国,NaN
38735,38735.0,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国,NaN
38736,38736.0,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国,NaN
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国,NaN

In [28]:
df.columns

Index(['Unnamed: 0', '名字', '投票人数', '类型', '产地', '上映时间', '时长', '年代', '评分',
       '首映地点', '场地'],
      dtype='object')

In [30]:
df["名字"][:5]

0    肖申克的救赎
1      控方证人
2     美丽人生
3      阿甘正传
4      霸王别姬
Name: 名字, dtype: object

In [34]:
df[["名字","类型"]][:5]

       名字        类型
0  肖申克的救赎     剧情/犯罪
1    控方证人  剧情/悬疑/犯罪
2   美丽人生   剧情/喜剧/爱情
3    阿甘正传     剧情/爱情
4    霸王别姬  剧情/爱情/同性

In [15]:
df["序号"]=range(1,len(df)+1)
df[:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,场地,序号
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,NaN,1
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,NaN,2
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,NaN,3
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,NaN,4
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,NaN,5

In [17]:
df=df.drop("序号",axis=1)
df[:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,场地
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,NaN
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,NaN
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,NaN
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,NaN
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,NaN

In [52]:
df.loc[1,"名字"]

'控方证人'

In [58]:
df.loc[[1,3,5,7,9],["名字","评分"]]

                                      名字   评分
1                                   控方证人  9.5
3                                   阿甘正传  9.4
5                                 泰坦尼克号   9.4
7  新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai  9.4
9                               这个杀手不太冷   9.4

In [66]:
df[df["产地"]=="美国"][:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,场地
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,NaN
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,NaN
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,NaN
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆,NaN
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映,NaN

In [70]:
df[((df.产地=="美国")|(df.产地=="中国大陆"))&(df.评分>9)]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,场地
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,NaN
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,NaN
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,NaN
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,NaN
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆,NaN
...,...,...,...,...,...,...,...,...,...,...,...
37951,37951.0,欢乐树的朋友们：赶尽杀绝,4151.0,喜剧/动画,美国,2005-11-28 00:00:00,84,2005,9.2,美国,NaN
38119,38119.0,山那边,70.0,剧情,美国,1975-11-14 00:00:00,103,1975,9.1,美国,NaN
38452,38452.0,奎,62.0,纪录片/短片,美国,2015-08-19 00:00:00,9,2015,9.1,纽约电影论坛,NaN
38465,38465.0,十二怒汉,466.0,剧情/悬疑/犯罪,美国,1954-09-20 00:00:00,52,1954,9.3,美国,NaN
38690,38690.0,周六夜现场,193.0,喜剧/音乐,美国,2003-10-11 00:00:00,90,2003,9.4,美国,NaN

In [19]:
df[df["名字"].notnull()]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,场地
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,NaN
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,NaN
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,NaN
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,NaN
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,NaN
...,...,...,...,...,...,...,...,...,...,...,...
38733,38733.0,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国,NaN
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国,NaN
38735,38735.0,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国,NaN
38736,38736.0,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国,NaN
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国,NaN

In [23]:
import numpy as np
df["评分"].fillna(np.mean(df["评分"]),inplace=True)

C:\Users\0.0\AppData\Local\Temp\ipykernel_2284\811655316.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["评分"].fillna(np.mean(df["评分"]),inplace=True)

In [25]:
df1=df["名字"].fillna("未知电影")
df1

0                                                   肖申克的救赎
1                                                     控方证人
2                                                    美丽人生
3                                                     阿甘正传
4                                                     霸王别姬
                               ...
38733                                                神学院 S
38734                                                1935年
38735                                                 血溅画屏
38736                                               魔窟中的幻想
38737    列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...
Name: 名字, Length: 38738, dtype: object

In [27]:
df1[df1.isnull()][:10]

Series([], Name: 名字, dtype: object)

In [33]:
df2=df.dropna(inplace=True)

In [31]:
len(df2)

TypeError: object of type 'NoneType' has no len()

In [59]:
len(df)

38738

In [37]:
df[df.投票人数<0]

Empty DataFrame
Columns: [Unnamed: 0, 名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点, 场地]
Index: []

In [39]:
df[df["投票人数"]%1!=0]

Empty DataFrame
Columns: [Unnamed: 0, 名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点, 场地]
Index: []

In [61]:
df=df[df.投票人数>0]
df=df[df["投票人数"]%1==0]

In [77]:
df.to_excel("movie_data.xlsx")

In [5]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_excel("movie_data.xlsx")

In [9]:
df[:5]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [12]:
df["投票人数"].dtype

dtype('float64')

In [16]:
df["投票人数"]=df["投票人数"].astype("int")

In [18]:
df["投票人数"].dtype

dtype('int32')

In [20]:
df["产地"].dtype

dtype('O')

In [100]:
df["产地"]=df["产地"].astype("str")

In [102]:
df["产地"].dtype

dtype('O')

In [104]:
df[df.年代=="2008\u200e"]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
15205,15205,15205,狂蟒惊魂,544,恐怖,中国大陆,2008-04-08 00:00:00,93,2008‎,2.7,美国

In [22]:
df[df.年代=="2008\u200e"]["年代"].values

array(['2008\u200e'], dtype=object)

In [24]:
df.loc[15205,"年代"]=2008

In [26]:
df.loc[15205]

Unnamed: 0.1                  15205
Unnamed: 0                    15205
名字                             狂蟒惊魂
投票人数                            544
类型                               恐怖
产地                             中国大陆
上映时间            2008-04-08 00:00:00
时长                               93
年代                             2008
评分                              2.7
首映地点                             美国
Name: 15205, dtype: object

In [28]:
df["年代"]=df["年代"].astype("int")

In [30]:
df[df["时长"]=="8U"]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
31644,31644,31644,一个被隔绝的世界,46,纪录片/短片,瑞典,2001-10-25 00:00:00,8U,1948,7.8,美国

In [32]:
df.drop([31644],inplace=True)

In [34]:
df[df["时长"]=="12J"]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
32949,32949,32949,渔业危机,41,纪录片,英国,2009-06-19 00:00:00,12J,2008,8.2,USA

In [36]:
df.drop([32949],inplace=True)

In [38]:
df["时长"]=df["时长"].astype("int")

In [40]:
df[:5]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [42]:
df.sort_values(by="投票人数",ascending=False)

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
9,9,9,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国
22,22,22,盗梦空间,642134,剧情/动作/科幻/悬疑/冒险,美国,2010-09-01 00:00:00,148,2010,9.2,中国大陆
3,3,3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
99,99,99,三傻大闹宝莱坞,549808,剧情/喜剧/爱情/歌舞,印度,2011-12-08 00:00:00,171,2009,9.1,中国大陆
...,...,...,...,...,...,...,...,...,...,...,...
19791,19791,19791,女教师 女教,8,剧情/犯罪,日本,1977-10-29 00:00:00,100,1977,6.6,日本
19804,19804,19804,女郎漫游仙境 ドレミファ娘の血は騒,5,喜剧/歌舞,日本,1985-11-03 00:00:00,80,1985,6.7,日本
19786,19786,19786,日本的垃圾去中国大陆 にっぽんの“ゴミ” 大陆へ渡る ～中国式リサイクル錬,-80,纪录片,日本,1905-06-26 00:00:00,60,2004,7.9,美国
19777,19777,19777,皇家大贼 皇家大,-80,剧情/犯罪,中国香港,1985-05-31 00:00:00,60,1985,6.3,美国
19797,19797,19797,女教徒,-118,剧情,法国,1966-05-06 00:00:00,135,1966,7.8,美国

In [44]:
df.sort_values(by="年代")

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
1700,1700,1700,朗德海花园场景,650,短片,英国,1888-10-14,60,1888,8.7,美国
14048,14048,14048,利兹大桥,126,短片,英国,1888-10,60,1888,7.2,美国
26170,26170,26170,恶作剧,51,短片,美国,1905-03-04 00:00:00,60,1890,4.8,美国
10627,10627,10627,可怜的比埃洛,176,喜剧/爱情/动画/短片,法国,1892-10-28,60,1892,7.5,法国
14455,14455,14455,迪克森实验音膜,121,短片,美国,1905-03-08 00:00:00,60,1894,7.2,美国
...,...,...,...,...,...,...,...,...,...,...,...
9471,9471,9471,功夫熊猫之卷轴的秘密,1248,喜剧/动作/动画/短片,美国,2016-01-05 00:00:00,23,2016,7.4,美国
29139,29139,29139,仙班校园,187,喜剧/动作/奇幻,中国大陆,2016-02-06 00:00:00,90,2016,3.1,中国大陆
4713,4713,4713,超脑48,520,剧情/动作/悬疑/惊悚/犯罪,英国,2016-05-13 00:00:00,113,2016,7.9,中国大陆
13882,13882,13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
17115,17115,17115,妈妈回来吧-中国打工村的孩子,49,纪录片,日本,2007-04-08 00:00:00,109,39180,8.9,美国

In [46]:
df.sort_values(by=["评分","投票人数"],ascending=False)

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
9278,9278,9278,平安结祈 平安結,208,音乐,日本,2012-02-24 00:00:00,60,2012,9.9,美国
13882,13882,13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
1110,1110,1110,NaN,76,科幻/纪录片,美国,1905-06-23 00:00:00,75,2001,9.9,美国
23559,23559,23559,未作回答的问题：伯恩斯坦哈佛六讲,61,纪录片,美国,1905-05-29 00:00:00,60,1973,9.9,美国
35470,35470,35470,NaN,46,纪录片/音乐,韩国,2013-10-31 00:00:00,90,2013,9.9,韩国
...,...,...,...,...,...,...,...,...,...,...,...
10219,10219,10219,大震撼,185,剧情,中国大陆,2011-05-19 00:00:00,60,2011,2.2,中国大陆
9045,9045,9045,钢管侠,168,动作,中国大陆,2015-07-28 00:00:00,60,2015,2.2,中国大陆
13137,13137,13137,嫁给大山的女人,2690,剧情,中国大陆,2009-04-22 00:00:00,88,2009,2.1,中国大陆
36080,36080,36080,NaN,1334,喜剧/爱情,中国大陆,2014-01-01 00:00:00,91,2014,2.1,中国大陆
29100,29100,29100,都是手机惹的祸,42,喜剧,中国大陆,2013-01-18 00:00:00,60,2012,2.0,中国大陆

In [48]:
df.describe()

,Unnamed: 0.1,Unnamed: 0,投票人数,时长,年代,评分
count,38736.000000,38736.000000,38736.000000,38736.000000,38736.000000,38736.000000
mean,19367.832507,19367.832507,6186.150764,89.051761,1998.788620,6.935649
std,11182.743559,11182.743559,26144.156471,83.334169,253.198744,1.270110
min,0.000000,0.000000,-118.000000,1.000000,1888.000000,2.000000
25%,9683.750000,9683.750000,98.000000,60.000000,1990.000000,6.300000
50%,19367.500000,19367.500000,341.000000,92.000000,2005.000000,7.100000
75%,29051.250000,29051.250000,1740.250000,106.000000,2010.000000,7.800000
max,38737.000000,38737.000000,692795.000000,11500.000000,39180.000000,9.900000

In [50]:
df[df["年代"]>2018]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
13882,13882,13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
17115,17115,17115,妈妈回来吧-中国打工村的孩子,49,纪录片,日本,2007-04-08 00:00:00,109,39180,8.9,美国

In [52]:
df[df["时长"]>1000]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19690,19690,19690,怒海余生,54,剧情/家庭/冒险,美国,1937-09-01 00:00:00,11500,1937,7.9,美国
38730,38730,38730,喧闹村的孩子们,36,家庭,瑞典,1986-12-06 00:00:00,9200,1986,8.7,瑞典

In [54]:
df.drop(df[df["年代"]>2018].index,inplace=True)
df.drop(df[df["时长"]>1000].index,inplace=True)

In [56]:
df.index=range(len(df))

In [58]:
df["投票人数"].max()

692795

In [60]:
df["投票人数"].min()

-118

In [62]:
df["评分"].min()

2.0

In [64]:
df["投票人数"].mean()

6186.782737787876

In [172]:
df["投票人数"].median()

341.0

In [174]:
df["评分"].mean()

6.935451306413302

In [176]:
df["评分"].var()

1.6129150244291894

In [178]:
df["评分"].std()

1.2700059151158272

In [180]:
df["投票人数"].sum()

239626469

In [182]:
df[["投票人数","评分"]].corr()

          投票人数        评分
投票人数  1.000000  0.122949
评分    0.122949  1.000000

In [184]:
df[["投票人数","评分"]].cov()

              投票人数           评分
投票人数  6.835836e+08  4082.491581
评分    4.082492e+03     1.612915

In [66]:
len(df)

38732

In [ ]:
df

In [82]:
df["产地"].unique()

array(['美国', '意大利', '中国大陆', '日本', '法国', '英国', '韩国', '中国香港', '阿根廷', '德国',
       '印度', '其他', '加拿大', '波兰', '泰国', '澳大利亚', '西班牙', '俄罗斯', '中国台湾', '荷兰',
       '丹麦', '比利时', '墨西哥', '巴西', '瑞典'], dtype=object)

In [84]:
len(df["产地"].unique())

25

In [74]:
df["产地"].replace("USA","美国",inplace=True)

In [80]:
df["产地"].replace(["西德","苏联"],["德国","俄罗斯"],inplace=True)

In [86]:
df["年代"].unique()

array([1994, 1957, 1997, 1993, 2012, 2013, 2003, 2016, 2009, 2008, 2001,
       1931, 1961, 2010, 2004, 1998, 1972, 1939, 2015, 1946, 2011, 1982,
       1960, 2006, 1988, 2002, 1995, 1996, 1984, 2014, 1953, 2007, 2000,
       1967, 1983, 1963, 1977, 1966, 1971, 1974, 1985, 1987, 1973, 1962,
       1969, 1989, 1979, 1981, 1936, 1954, 1992, 1970, 1991, 2005, 1920,
       1933, 1990, 1999, 1896, 1965, 1921, 1947, 1975, 1964, 1943, 1928,
       1986, 1895, 1949, 1932, 1919, 1956, 1955, 1951, 1905, 1940, 1908,
       1900, 1978, 1958, 1898, 1976, 1938, 1907, 1913, 1968, 1912, 1937,
       1952, 1903, 1948, 1926, 1906, 1959, 1934, 1944, 1888, 1909, 1925,
       1923, 1945, 1904, 1980, 1917, 1935, 1942, 1950, 1902, 1941, 1930,
       1922, 1916, 1929, 1927, 1914, 1924, 1918, 1899, 1901, 1915, 1892,
       1894, 1910, 1897, 1911, 1890])

In [88]:
len(df["年代"].unique())

126

In [90]:
df["年代"].value_counts()

年代
2012    2042
2013    2001
2008    1963
2014    1887
2010    1886
        ...
1898       2
1888       2
1899       2
1892       1
1890       1
Name: count, Length: 126, dtype: int64

In [94]:
df["产地"].value_counts()[:5]

产地
美国      11978
日本       5052
中国大陆     3802
中国香港     2852
法国       2817
Name: count, dtype: int64

In [96]:
df.to_excel("movie_data2.xlsx")

In [3]:
import pandas as pd

In [13]:
df=pd.read_excel("movie_data2.xlsx")

In [27]:
df[:5]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0,0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,1,1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,2,2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,3,3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,4,4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [29]:
pd.set_option("display.max_columns",100)
pd.set_option("display.max_rows",500)

In [33]:
pd.pivot_table(df,index=["年代","产地"],values=["评分"])

               评分
年代   产地
1888 英国  7.950000
1890 美国  4.800000
1892 法国  7.500000
1894 法国  7.000000
     美国  6.450000
...           ...
2016 日本  7.181579
     法国  7.475000
     美国  6.540909
     英国  7.200000
     韩国  5.730000

[1584 rows x 1 columns]

In [35]:
import numpy as np
pd.pivot_table(df,index=["年代","产地"],values=["投票人数"],aggfunc=np.sum)

C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\4131236279.py:2: FutureWarning: The provided callable <function sum at 0x0000028D626DCF40> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(df,index=["年代","产地"],values=["投票人数"],aggfunc=np.sum)

           投票人数
年代   产地
1888 英国     776
1890 美国      51
1892 法国     176
1894 法国     148
     美国     190
...         ...
2016 日本   22031
     法国     156
     美国  697214
     英国  160680
     韩国   34797

[1584 rows x 1 columns]

In [39]:
pd.pivot_table(df,index=["产地"],values=["投票人数","评分"],aggfunc=[np.sum,np.mean])

C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\475008523.py:1: FutureWarning: The provided callable <function sum at 0x0000028D626DCF40> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(df,index=["产地"],values=["投票人数","评分"],aggfunc=[np.sum,np.mean])
C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\475008523.py:1: FutureWarning: The provided callable <function mean at 0x0000028D626DE020> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(df,index=["产地"],values=["投票人数","评分"],aggfunc=[np.sum,np.mean])

            sum                   mean
           投票人数       评分          投票人数        评分
产地
中国台湾    5237466   4367.2   8474.864078  7.066667
中国大陆   41435313  23058.0  10898.293793  6.064703
中国香港   23285309  18464.0   8164.554348  6.474053
丹麦       394784   1434.7   1993.858586  7.245960
俄罗斯      486127   3603.5   1019.134172  7.554507
其他      3054119  13895.9   1590.686979  7.237448
加拿大     1384765   4868.4   1915.304288  6.733610
印度      1146271   2453.4   3210.843137  6.872269
墨西哥      139613    843.4   1173.218487  7.087395
巴西       357136    733.5   3536.000000  7.262376
德国      2680983   7428.4   2597.851744  7.198062
意大利     2502215   5377.3   3340.740988  7.179306
日本     18000587  36347.2   3563.061560  7.194616
比利时      170987   1003.3   1230.122302  7.217986
法国     10213848  20392.5   3625.789137  7.239084
波兰       159577   1347.0    881.640884  7.441989
泰国      1564881   1796.1   5322.724490  6.109184
澳大利亚    1415713   2093.4   4719.043333  6.978000
瑞典       290077   1423.3   1510.817708  7.413021
美国    101806216  83209.5   8499.433628  6.946861
英国     13249562  20789.4   4797.089790  7.526937
荷兰       144836   1114.5    934.425806  7.190323
西班牙     1486733   3139.9   3326.024609  7.024385
阿根廷      258271    843.7   2226.474138  7.273276
韩国      8761080   8596.4   6484.885270  6.362990

In [49]:
pd.pivot_table(df,index=["产地"],values=["投票人数"],aggfunc=[np.sum,np.mean],fill_value=0,margins=True)

C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\2941718599.py:1: FutureWarning: The provided callable <function sum at 0x0000028D626DCF40> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(df,index=["产地"],values=["投票人数"],aggfunc=[np.sum,np.mean],fill_value=0,margins=True)
C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\2941718599.py:1: FutureWarning: The provided callable <function mean at 0x0000028D626DE020> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(df,index=["产地"],values=["投票人数"],aggfunc=[np.sum,np.mean],fill_value=0,margins=True)

            sum          mean
           投票人数          投票人数
产地
中国台湾    5237466   8474.864078
中国大陆   41435313  10898.293793
中国香港   23285309   8164.554348
丹麦       394784   1993.858586
俄罗斯      486127   1019.134172
其他      3054119   1590.686979
加拿大     1384765   1915.304288
印度      1146271   3210.843137
墨西哥      139613   1173.218487
巴西       357136   3536.000000
德国      2680983   2597.851744
意大利     2502215   3340.740988
日本     18000587   3563.061560
比利时      170987   1230.122302
法国     10213848   3625.789137
波兰       159577    881.640884
泰国      1564881   5322.724490
澳大利亚    1415713   4719.043333
瑞典       290077   1510.817708
美国    101806216   8499.433628
英国     13249562   4797.089790
荷兰       144836    934.425806
西班牙     1486733   3326.024609
阿根廷      258271   2226.474138
韩国      8761080   6484.885270
All   239626469   6186.782738

In [53]:
pd.pivot_table(df,index=["产地"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0)

C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\3904517252.py:1: FutureWarning: The provided callable <function sum at 0x0000028D626DCF40> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(df,index=["产地"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0)
C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\3904517252.py:1: FutureWarning: The provided callable <function mean at 0x0000028D626DE020> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(df,index=["产地"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0)

           投票人数        评分
产地
中国台湾    5237466  7.066667
中国大陆   41435313  6.064703
中国香港   23285309  6.474053
丹麦       394784  7.245960
俄罗斯      486127  7.554507
其他      3054119  7.237448
加拿大     1384765  6.733610
印度      1146271  6.872269
墨西哥      139613  7.087395
巴西       357136  7.262376
德国      2680983  7.198062
意大利     2502215  7.179306
日本     18000587  7.194616
比利时      170987  7.217986
法国     10213848  7.239084
波兰       159577  7.441989
泰国      1564881  6.109184
澳大利亚    1415713  6.978000
瑞典       290077  7.413021
美国    101806216  6.946861
英国     13249562  7.526937
荷兰       144836  7.190323
西班牙     1486733  7.024385
阿根廷      258271  7.273276
韩国      8761080  6.362990

In [55]:
pd.pivot_table(df,index=["年代"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0,margins=True)

C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\2518606227.py:1: FutureWarning: The provided callable <function sum at 0x0000028D626DCF40> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(df,index=["年代"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0,margins=True)
C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\2518606227.py:1: FutureWarning: The provided callable <function mean at 0x0000028D626DE020> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(df,index=["年代"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0,margins=True)

           投票人数        评分
年代
1888        776  7.950000
1890         51  4.800000
1892        176  7.500000
1894        338  6.633333
1895       7679  7.575000
1896       7874  7.037500
1897        201  6.633333
1898       1157  7.450000
1899        142  6.900000
1900       1227  7.228571
1901        658  7.250000
1902      11605  7.483333
1903       4730  6.968750
1904       1567  7.212500
1905       1663  6.820000
1906       1329  7.342857
1907       1068  7.020000
1908       1553  7.150000
1909        293  7.560000
1910        526  6.940000
1911        960  7.375000
1912        761  7.920000
1913        529  6.862500
1914       2728  6.473077
1915       6298  7.260000
1916       7364  7.758333
1917       1493  7.075000
1918       4285  7.200000
1919       3597  7.490000
1920       8911  7.492857
1921      16056  7.750000
1922      16876  7.804545
1923       7668  7.883333
1924      10410  8.053571
1925      27607  7.788000
1926      10203  7.773913
1927      20163  7.751724
1928      16193  7.945000
1929      25919  7.440000
1930      13877  7.360000
1931      61684  7.483333
1932      22203  7.294595
1933      36486  7.430000
1934      39601  7.519608
1935      40834  7.515217
1936      87928  7.635000
1937      77431  7.575510
1938      20976  7.736842
1939     289681  7.520408
1940     216401  7.571795
1941      72982  7.427660
1942     138211  7.554717
1943      42342  7.615789
1944      54398  7.538889
1945      48462  7.673469
1946      61033  7.606780
1947      32955  7.453333
1948     103226  7.657471
1949      57110  7.646067
1950     169862  7.655263
1951      75532  7.636709
1952     128198  7.743678
1953     421178  7.567045
1954     222385  7.702941
1955     228130  7.580000
1956     155027  7.600000
1957     318173  7.652336
1958     108116  7.536885
1959     220809  7.571875
1960     189462  7.569466
1961     325057  7.744118
1962     282013  7.704895
1963     169316  7.536364
1964     201613  7.523077
1965     324074  7.576074
1966     236077  7.520556
1967     217763  7.484659
1968     188550  7.317442
1969     122774  7.370048
1970     128590  7.291053
1971     299703  7.155708
1972     475913  7.268116
1973     170422  7.250235
1974     375931  7.062332
1975     435657  7.071429
1976     312364  7.107725
1977     210568  7.148182
1978     201366  7.096517
1979     426447  7.296035
1980     539321  7.186607
1981     440883  7.157299
1982     569966  7.297368
1983     426910  7.310108
1984     784149  7.375170
1985     509699  7.275466
1986     916436  7.256790
1987    1073170  7.284548
1988    1876889  7.265729
1989    1176806  7.210687
1990    1951476  7.149109
1991    1921186  7.154634
1992    2386468  7.223678
1993    3579932  7.195692
1994    5670752  7.262348
1995    3976844  7.289366
1996    2634572  7.258801
1997    4426995  7.330168
1998    4288143  7.238302
1999    4460656  7.188000
2000    4318580  7.134063
2001    7029519  7.110145
2002    5897334  7.069778
2003    7505258  7.137750
2004    9746883  7.032130
2005    8217218  7.030008
2006   11026565  6.914719
2007   10700316  6.875102
2008   13252207  6.910647
2009   16229871  6.750000
2010   18061067  6.770361
2011   16351964  6.577010
2012   14463052  6.458374
2013   15215050  6.392604
2014   14573872  6.259777
2015   12483522  6.141960
2016    1851413  5.868217
All   239626469  6.935451

In [57]:
table=pd.pivot_table(df,index=["年代"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0)

C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\2882917808.py:1: FutureWarning: The provided callable <function sum at 0x0000028D626DCF40> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  table=pd.pivot_table(df,index=["年代"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0)
C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\2882917808.py:1: FutureWarning: The provided callable <function mean at 0x0000028D626DE020> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  table=pd.pivot_table(df,index=["年代"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0)

In [59]:
type(table)

pandas.core.frame.DataFrame

In [61]:
table[:5]

      投票人数        评分
年代
1888   776  7.950000
1890    51  4.800000
1892   176  7.500000
1894   338  6.633333
1895  7679  7.575000

In [63]:
table[table.index==1994]

         投票人数        评分
年代
1994  5670752  7.262348

In [71]:
table.sort_values("评分",ascending=False)

          投票人数        评分
年代
1924     10410  8.053571
1888       776  7.950000
1928     16193  7.945000
1912       761  7.920000
1923      7668  7.883333
1922     16876  7.804545
1925     27607  7.788000
1926     10203  7.773913
1916      7364  7.758333
1927     20163  7.751724
1921     16056  7.750000
1961    325057  7.744118
1952    128198  7.743678
1938     20976  7.736842
1962    282013  7.704895
1954    222385  7.702941
1945     48462  7.673469
1948    103226  7.657471
1950    169862  7.655263
1957    318173  7.652336
1949     57110  7.646067
1951     75532  7.636709
1936     87928  7.635000
1943     42342  7.615789
1946     61033  7.606780
1956    155027  7.600000
1955    228130  7.580000
1965    324074  7.576074
1937     77431  7.575510
1895      7679  7.575000
1959    220809  7.571875
1940    216401  7.571795
1960    189462  7.569466
1953    421178  7.567045
1909       293  7.560000
1942    138211  7.554717
1944     54398  7.538889
1958    108116  7.536885
1963    169316  7.536364
1964    201613  7.523077
1966    236077  7.520556
1939    289681  7.520408
1934     39601  7.519608
1935     40834  7.515217
1892       176  7.500000
1920      8911  7.492857
1919      3597  7.490000
1967    217763  7.484659
1931     61684  7.483333
1902     11605  7.483333
1947     32955  7.453333
1898      1157  7.450000
1929     25919  7.440000
1933     36486  7.430000
1941     72982  7.427660
1984    784149  7.375170
1911       960  7.375000
1969    122774  7.370048
1930     13877  7.360000
1906      1329  7.342857
1997   4426995  7.330168
1968    188550  7.317442
1983    426910  7.310108
1982    569966  7.297368
1979    426447  7.296035
1932     22203  7.294595
1970    128590  7.291053
1995   3976844  7.289366
1987   1073170  7.284548
1985    509699  7.275466
1972    475913  7.268116
1988   1876889  7.265729
1994   5670752  7.262348
1915      6298  7.260000
1996   2634572  7.258801
1986    916436  7.256790
1973    170422  7.250235
1901       658  7.250000
1998   4288143  7.238302
1900      1227  7.228571
1992   2386468  7.223678
1904      1567  7.212500
1989   1176806  7.210687
1918      4285  7.200000
1993   3579932  7.195692
1999   4460656  7.188000
1980    539321  7.186607
1981    440883  7.157299
1971    299703  7.155708
1991   1921186  7.154634
1908      1553  7.150000
1990   1951476  7.149109
1977    210568  7.148182
2003   7505258  7.137750
2000   4318580  7.134063
2001   7029519  7.110145
1976    312364  7.107725
1978    201366  7.096517
1917      1493  7.075000
1975    435657  7.071429
2002   5897334  7.069778
1974    375931  7.062332
1896      7874  7.037500
2004   9746883  7.032130
2005   8217218  7.030008
1907      1068  7.020000
1903      4730  6.968750
1910       526  6.940000
2006  11026565  6.914719
2008  13252207  6.910647
1899       142  6.900000
2007  10700316  6.875102
1913       529  6.862500
1905      1663  6.820000
2010  18061067  6.770361
2009  16229871  6.750000
1894       338  6.633333
1897       201  6.633333
2011  16351964  6.577010
1914      2728  6.473077
2012  14463052  6.458374
2013  15215050  6.392604
2014  14573872  6.259777
2015  12483522  6.141960
2016   1851413  5.868217
1890        51  4.800000

In [73]:
pd.pivot_table(df,index=["产地","年代"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0)

C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\3889915116.py:1: FutureWarning: The provided callable <function sum at 0x0000028D626DCF40> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(df,index=["产地","年代"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0)
C:\Users\0.0\AppData\Local\Temp\ipykernel_1132\3889915116.py:1: FutureWarning: The provided callable <function mean at 0x0000028D626DE020> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(df,index=["产地","年代"],values=["投票人数","评分"],aggfunc={"投票人数":np.sum,"评分":np.mean},fill_value=0)

              投票人数        评分
产地   年代
中国台湾 1963      121  6.400000
     1965      461  6.800000
     1966       51  7.900000
     1967     4444  8.000000
     1968      178  7.400000
...            ...       ...
韩国   2012   610829  6.064151
     2013  1130983  6.098198
     2014   453152  5.650833
     2015   349808  5.423853
     2016    34797  5.730000

[1584 rows x 2 columns]

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel("movie_data2.xlsx")

In [4]:
df[:5]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0,0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,1,1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,2,2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,3,3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,4,4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [7]:
s=pd.Series(np.arange(1,10),index=[["a","a","a","b","b","c","c","d","d"],[1,2,3,1,2,3,1,2,3]])
s

a  1    1
   2    2
   3    3
b  1    4
   2    5
c  3    6
   1    7
d  2    8
   3    9
dtype: int32

In [9]:
s.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [11]:
s["a"]

1    1
2    2
3    3
dtype: int32

In [13]:
s["a":"c"]

a  1    1
   2    2
   3    3
b  1    4
   2    5
c  3    6
   1    7
dtype: int32

In [15]:
s[:,1]

a    1
b    4
c    7
dtype: int32

In [17]:
s["a",1]

1

In [21]:
s["c",3]

6

In [23]:
s.unstack()

     1    2    3
a  1.0  2.0  3.0
b  4.0  5.0  NaN
c  7.0  NaN  6.0
d  NaN  8.0  9.0

In [25]:
s.unstack().stack()

a  1    1.0
   2    2.0
   3    3.0
b  1    4.0
   2    5.0
c  1    7.0
   3    6.0
d  2    8.0
   3    9.0
dtype: float64

In [31]:
data=pd.DataFrame(np.arange(12).reshape(4,3),index=[["a","a","b","b"],[1,2,1,2]],columns=[["A","A","B"],["Z","X","C"]])
data

     A       B
     Z   X   C
a 1  0   1   2
  2  3   4   5
b 1  6   7   8
  2  9  10  11

In [33]:
data["A"]

     Z   X
a 1  0   1
  2  3   4
b 1  6   7
  2  9  10

In [41]:
data.index.names=["row1","row2"]
data.columns.names=["col1","col2"]
data

col1       A       B
col2       Z   X   C
row1 row2
a    1     0   1   2
     2     3   4   5
b    1     6   7   8
     2     9  10  11

In [43]:
data.swaplevel("row1","row2")

col1       A       B
col2       Z   X   C
row2 row1
1    a     0   1   2
2    a     3   4   5
1    b     6   7   8
2    b     9  10  11

In [45]:
df.index

RangeIndex(start=0, stop=38732, step=1)

In [47]:
df=df.set_index(["产地","年代"])
df

           Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  \
产地   年代
美国   1994             0             0           0
     1957             1             1           1
意大利  1997             2             2           2
美国   1994             3             3           3
中国大陆 1993             4             4           4
...                 ...           ...         ...
法国   1983         38727         38733       38733
美国   1935         38728         38734       38734
中国大陆 1986         38729         38735       38735
     1986         38730         38736       38736
俄罗斯  1977         38731         38737       38737

                                                          名字    投票人数  \
产地   年代
美国   1994                                             肖申克的救赎  692795
     1957                                               控方证人   42995
意大利  1997                                              美丽人生   327855
美国   1994                                               阿甘正传  580897
中国大陆 1993                                               霸王别姬  478523
...                                                      ...     ...
法国   1983                                              神学院 S      46
美国   1935                                              1935年      57
中国大陆 1986                                               血溅画屏      95
     1986                                             魔窟中的幻想      51
俄罗斯  1977  列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...      32

                       类型                 上映时间   时长   评分    首映地点
产地   年代
美国   1994           剧情/犯罪  1994-09-10 00:00:00  142  9.6  多伦多电影节
     1957        剧情/悬疑/犯罪  1957-12-17 00:00:00  116  9.5      美国
意大利  1997        剧情/喜剧/爱情  1997-12-20 00:00:00  116  9.5     意大利
美国   1994           剧情/爱情  1994-06-23 00:00:00  142  9.4   洛杉矶首映
中国大陆 1993        剧情/爱情/同性  1993-01-01 00:00:00  171  9.4      香港
...                   ...                  ...  ...  ...     ...
法国   1983           Adult  1905-06-05 00:00:00   58  8.6      美国
美国   1935           喜剧/歌舞  1935-03-15 00:00:00   98  7.6      美国
中国大陆 1986  剧情/悬疑/犯罪/武侠/古装  1905-06-08 00:00:00   91  7.1      美国
     1986        惊悚/恐怖/儿童  1905-06-08 00:00:00   78  8.0      美国
俄罗斯  1977           剧情/战争  1905-05-30 00:00:00   97  6.6      美国

[38732 rows x 10 columns]

In [49]:
df.index[0]

('美国', 1994)

In [51]:
df.loc["美国"]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
年代,,,,,,,,,,
1994,0,0,0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节
1957,1,1,1,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国
1994,3,3,3,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映
2012,5,5,5,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆
1993,6,6,6,辛德勒的名单,306904,剧情/历史/战争,1993-11-30 00:00:00,195,9.4,华盛顿首映
...,...,...,...,...,...,...,...,...,...,...
1987,38719,38724,38724,跷家的一夜,82,喜剧/动作/惊悚/冒险,1987-07-01 00:00:00,102,7.8,美国
1987,38721,38726,38726,零下的激情,199,剧情/爱情/犯罪,1987-11-06 00:00:00,98,7.4,美国
1986,38723,38728,38728,离别秋波,240,剧情/爱情/音乐,1986-02-19 00:00:00,90,8.2,美国
1986,38726,38732,38732,极乐森林,45,纪录片,1986-09-14 00:00:00,90,8.1,美国
1935,38728,38734,38734,1935年,57,喜剧/歌舞,1935-03-15 00:00:00,98,7.6,美国

In [53]:
df.loc["中国大陆"]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
年代,,,,,,,,,,
1993,4,4,4,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港
1961,21,21,21,大闹天宫,74881,动画/奇幻,1905-05-14 00:00:00,114,9.2,上集
2015,29,29,29,穹顶之下,51113,纪录片,2015-02-28 00:00:00,104,9.2,中国大陆
1982,38,38,38,茶馆,10678,剧情/历史,1905-06-04 00:00:00,118,9.2,美国
1988,45,45,45,山水情,10781,动画/短片,1905-06-10 00:00:00,19,9.2,美国
...,...,...,...,...,...,...,...,...,...,...
1986,38722,38727,38727,T省的八四、八五,380,剧情,1905-06-08 00:00:00,94,8.7,美国
1986,38724,38729,38729,失踪的女中学生,101,儿童,1905-06-08 00:00:00,102,7.4,美国
1986,38725,38731,38731,血战台儿庄,2908,战争,1905-06-08 00:00:00,120,8.1,美国
1986,38729,38735,38735,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,1905-06-08 00:00:00,91,7.1,美国
1986,38730,38736,38736,魔窟中的幻想,51,惊悚/恐怖/儿童,1905-06-08 00:00:00,78,8.0,美国

In [55]:
df=df.swaplevel("产地","年代")
df

           Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  \
年代   产地
1994 美国               0             0           0
1957 美国               1             1           1
1997 意大利              2             2           2
1994 美国               3             3           3
1993 中国大陆             4             4           4
...                 ...           ...         ...
1983 法国           38727         38733       38733
1935 美国           38728         38734       38734
1986 中国大陆         38729         38735       38735
     中国大陆         38730         38736       38736
1977 俄罗斯          38731         38737       38737

                                                          名字    投票人数  \
年代   产地
1994 美国                                               肖申克的救赎  692795
1957 美国                                                 控方证人   42995
1997 意大利                                               美丽人生   327855
1994 美国                                                 阿甘正传  580897
1993 中国大陆                                               霸王别姬  478523
...                                                      ...     ...
1983 法国                                                神学院 S      46
1935 美国                                                1935年      57
1986 中国大陆                                               血溅画屏      95
     中国大陆                                             魔窟中的幻想      51
1977 俄罗斯   列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...      32

                       类型                 上映时间   时长   评分    首映地点
年代   产地
1994 美国             剧情/犯罪  1994-09-10 00:00:00  142  9.6  多伦多电影节
1957 美国          剧情/悬疑/犯罪  1957-12-17 00:00:00  116  9.5      美国
1997 意大利         剧情/喜剧/爱情  1997-12-20 00:00:00  116  9.5     意大利
1994 美国             剧情/爱情  1994-06-23 00:00:00  142  9.4   洛杉矶首映
1993 中国大陆        剧情/爱情/同性  1993-01-01 00:00:00  171  9.4      香港
...                   ...                  ...  ...  ...     ...
1983 法国             Adult  1905-06-05 00:00:00   58  8.6      美国
1935 美国             喜剧/歌舞  1935-03-15 00:00:00   98  7.6      美国
1986 中国大陆  剧情/悬疑/犯罪/武侠/古装  1905-06-08 00:00:00   91  7.1      美国
     中国大陆        惊悚/恐怖/儿童  1905-06-08 00:00:00   78  8.0      美国
1977 俄罗斯            剧情/战争  1905-05-30 00:00:00   97  6.6      美国

[38732 rows x 10 columns]

In [59]:
df.index[1994]

(2012, '中国香港')

In [61]:
df=df.reset_index()

In [63]:
df[:5]

,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
0,1994,美国,0,0,0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节
1,1957,美国,1,1,1,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国
2,1997,意大利,2,2,2,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利
3,1994,美国,3,3,3,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映
4,1993,中国大陆,4,4,4,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港

In [65]:
data=df[:5]

In [67]:
data

,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
0,1994,美国,0,0,0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节
1,1957,美国,1,1,1,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国
2,1997,意大利,2,2,2,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利
3,1994,美国,3,3,3,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映
4,1993,中国大陆,4,4,4,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港

In [69]:
data.T

,0,1,2,3,4
年代,1994,1957,1997,1994,1993
产地,美国,美国,意大利,美国,中国大陆
Unnamed: 0.2,0,1,2,3,4
Unnamed: 0.1,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
名字,肖申克的救赎,控方证人,美丽人生,阿甘正传,霸王别姬
投票人数,692795,42995,327855,580897,478523
类型,剧情/犯罪,剧情/悬疑/犯罪,剧情/喜剧/爱情,剧情/爱情,剧情/爱情/同性
上映时间,1994-09-10 00:00:00,1957-12-17 00:00:00,1997-12-20 00:00:00,1994-06-23 00:00:00,1993-01-01 00:00:00
时长,142,116,116,142,171
评分,9.6,9.5,9.5,9.4,9.4
首映地点,多伦多电影节,美国,意大利,洛杉矶首映,香港

In [73]:
data.stack().unstack()

,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
0,1994,美国,0,0,0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节
1,1957,美国,1,1,1,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国
2,1997,意大利,2,2,2,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利
3,1994,美国,3,3,3,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映
4,1993,中国大陆,4,4,4,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港

In [75]:
group=df.groupby(["产地"])

In [77]:
type(group)

pandas.core.groupby.generic.DataFrameGroupBy

In [83]:
group.mean(numeric_only=True)

,年代,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,投票人数,时长,评分
产地,,,,,,,
中国台湾,1999.009709,19350.590615,19352.632686,19352.632686,8474.864078,87.257282,7.066667
中国大陆,2004.599684,20391.791426,20393.987638,20393.987638,10898.293793,81.432930,6.064703
中国香港,1991.098177,19230.307854,19232.301543,19232.301543,8164.554348,88.531206,6.474053
丹麦,1999.090909,20415.611111,20417.853535,20417.853535,1993.858586,88.101010,7.245960
俄罗斯,1984.899371,20084.637317,20086.800839,20086.800839,1019.134172,95.918239,7.554507
其他,1998.743750,20072.014583,20074.155208,20074.155208,1590.686979,87.066667,7.237448
加拿大,2002.461964,19426.182573,19428.221300,19428.221300,1915.304288,80.109267,6.733610
印度,2005.974790,20563.635854,20565.865546,20565.865546,3210.843137,121.016807,6.872269
墨西哥,1992.815126,21251.201681,21253.453782,21253.453782,1173.218487,91.840336,7.087395
巴西,1999.871287,21127.118812,21129.366337,21129.366337,3536.000000,87.811881,7.262376
德国,1996.062984,20051.176357,20053.311047,20053.311047,2597.851744,92.062016,7.198062
意大利,1985.503338,20288.877170,20291.066756,20291.066756,3340.740988,104.008011,7.179306
日本,1999.902811,18374.139549,18376.014054,18376.014054,3563.061560,84.703682,7.194616
比利时,1999.496403,19814.057554,19816.237410,19816.237410,1230.122302,82.352518,7.217986
法国,1991.756124,19557.385517,19559.446219,19559.446219,3625.789137,89.919773,7.239084
波兰,1987.027624,20674.276243,20676.502762,20676.502762,881.640884,80.734807,7.441989
泰国,2009.129252,17111.493197,17113.238095,17113.238095,5322.724490,88.442177,6.109184
澳大利亚,2002.986667,20082.906667,20085.013333,20085.013333,4719.043333,85.163333,6.978000
瑞典,1986.932292,20132.541667,20134.713542,20134.713542,1510.817708,93.218750,7.413021
美国,1994.570796,19273.488729,19275.479045,19275.479045,8499.433628,89.344465,6.946861
英国,1996.726647,19058.700579,19060.700217,19060.700217,4797.089790,88.343592,7.526937
荷兰,2001.283871,19285.922581,19288.038710,19288.038710,934.425806,75.387097,7.190323
西班牙,2001.588367,19017.098434,19019.060403,19019.060403,3326.024609,90.503356,7.024385
阿根廷,2004.034483,21189.112069,21191.482759,21191.482759,2226.474138,91.706897,7.273276
韩国,2008.119171,18393.616580,18395.481125,18395.481125,6484.885270,99.729090,6.362990

In [85]:
group.sum(numeric_only=True)

,年代,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,投票人数,时长,评分
产地,,,,,,,
中国台湾,1235388,11958665,11959927,11959927,5237466,53925,4367.2
中国大陆,7621488,77529591,77537941,77537941,41435313,309608,23058.0
中国香港,5678612,54844838,54850524,54850524,23285309,252491,18464.0
丹麦,395820,4042291,4042735,4042735,394784,17444,1434.7
俄罗斯,946797,9580372,9581404,9581404,486127,45753,3603.5
其他,3837588,38538268,38542378,38542378,3054119,167168,13895.9
加拿大,1447780,14045130,14046604,14046604,1384765,57919,4868.4
印度,716133,7341218,7342014,7342014,1146271,43203,2453.4
墨西哥,237145,2528893,2529161,2529161,139613,10929,843.4
巴西,201987,2133839,2134066,2134066,357136,8869,733.5
德国,2059937,20692814,20695017,20695017,2680983,95008,7428.4
意大利,1487142,15196369,15198009,15198009,2502215,77902,5377.3
日本,10103509,92826153,92835623,92835623,18000587,427923,36347.2
比利时,277930,2754154,2754457,2754457,170987,11447,1003.3
法国,5610777,55093155,55098960,55098960,10213848,253304,20392.5
波兰,359652,3742044,3742447,3742447,159577,14613,1347.0
泰国,590684,5030779,5031292,5031292,1564881,26002,1796.1
澳大利亚,600896,6024872,6025504,6025504,1415713,25549,2093.4
瑞典,381491,3865448,3865865,3865865,290077,17898,1423.3
美国,23890969,230857848,230881688,230881688,101806216,1070168,83209.5
英国,5514959,52640131,52645654,52645654,13249562,244005,20789.4
荷兰,310199,2989318,2989646,2989646,144836,11685,1114.5
西班牙,894710,8500643,8501520,8501520,1486733,40455,3139.9
阿根廷,232468,2457937,2458212,2458212,258271,10638,843.7
韩国,2712969,24849776,24852295,24852295,8761080,134734,8596.4

In [87]:
df["评分"].groupby(df["年代"]).mean()

年代
1888    7.950000
1890    4.800000
1892    7.500000
1894    6.633333
1895    7.575000
          ...
2012    6.458374
2013    6.392604
2014    6.259777
2015    6.141960
2016    5.868217
Name: 评分, Length: 126, dtype: float64

In [91]:
df["年代"]=df["年代"].astype("str")

In [103]:
df.groupby(df["产地"]).mean(numeric_only=True)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,投票人数,时长,评分
产地,,,,,,
中国台湾,19350.590615,19352.632686,19352.632686,8474.864078,87.257282,7.066667
中国大陆,20391.791426,20393.987638,20393.987638,10898.293793,81.432930,6.064703
中国香港,19230.307854,19232.301543,19232.301543,8164.554348,88.531206,6.474053
丹麦,20415.611111,20417.853535,20417.853535,1993.858586,88.101010,7.245960
俄罗斯,20084.637317,20086.800839,20086.800839,1019.134172,95.918239,7.554507
其他,20072.014583,20074.155208,20074.155208,1590.686979,87.066667,7.237448
加拿大,19426.182573,19428.221300,19428.221300,1915.304288,80.109267,6.733610
印度,20563.635854,20565.865546,20565.865546,3210.843137,121.016807,6.872269
墨西哥,21251.201681,21253.453782,21253.453782,1173.218487,91.840336,7.087395
巴西,21127.118812,21129.366337,21129.366337,3536.000000,87.811881,7.262376
德国,20051.176357,20053.311047,20053.311047,2597.851744,92.062016,7.198062
意大利,20288.877170,20291.066756,20291.066756,3340.740988,104.008011,7.179306
日本,18374.139549,18376.014054,18376.014054,3563.061560,84.703682,7.194616
比利时,19814.057554,19816.237410,19816.237410,1230.122302,82.352518,7.217986
法国,19557.385517,19559.446219,19559.446219,3625.789137,89.919773,7.239084
波兰,20674.276243,20676.502762,20676.502762,881.640884,80.734807,7.441989
泰国,17111.493197,17113.238095,17113.238095,5322.724490,88.442177,6.109184
澳大利亚,20082.906667,20085.013333,20085.013333,4719.043333,85.163333,6.978000
瑞典,20132.541667,20134.713542,20134.713542,1510.817708,93.218750,7.413021
美国,19273.488729,19275.479045,19275.479045,8499.433628,89.344465,6.946861
英国,19058.700579,19060.700217,19060.700217,4797.089790,88.343592,7.526937
荷兰,19285.922581,19288.038710,19288.038710,934.425806,75.387097,7.190323
西班牙,19017.098434,19019.060403,19019.060403,3326.024609,90.503356,7.024385
阿根廷,21189.112069,21191.482759,21191.482759,2226.474138,91.706897,7.273276
韩国,18393.616580,18395.481125,18395.481125,6484.885270,99.729090,6.362990

In [109]:
df.groupby([df["产地"],df["年代"]]).mean(numeric_only=True)

           Unnamed: 0.2  Unnamed: 0.1    Unnamed: 0          投票人数          时长  \
产地   年代
中国台湾 1963  14805.000000  14806.000000  14806.000000    121.000000  113.000000
     1965  30282.000000  30285.000000  30285.000000    153.666667  105.000000
     1966  26305.000000  26308.000000  26308.000000     51.000000   60.000000
     1967  16605.000000  16606.000000  16606.000000   4444.000000  112.000000
     1968  21282.500000  21285.500000  21285.500000     89.000000   83.000000
...                 ...           ...           ...           ...         ...
韩国   2012  17578.716981  17580.452830  17580.452830   5762.537736  100.669811
     2013  18956.279279  18958.252252  18958.252252  10189.036036   96.504505
     2014  19885.116667  19887.200000  19887.200000   3776.266667   98.666667
     2015  19039.009174  19040.908257  19040.908257   3209.247706  100.266055
     2016  18904.250000  18906.100000  18906.100000   1739.850000  106.100000

                 评分
产地   年代
中国台湾 1963  6.400000
     1965  6.800000
     1966  7.900000
     1967  8.000000
     1968  7.400000
...             ...
韩国   2012  6.064151
     2013  6.098198
     2014  5.650833
     2015  5.423853
     2016  5.730000

[1584 rows x 6 columns]

In [111]:
group=df["评分"].groupby([df["产地"],df["年代"]])
means=group.mean()
means

产地    年代
中国台湾  1963    6.400000
      1965    6.800000
      1966    7.900000
      1967    8.000000
      1968    7.400000
                ...
韩国    2012    6.064151
      2013    6.098198
      2014    5.650833
      2015    5.423853
      2016    5.730000
Name: 评分, Length: 1584, dtype: float64

In [115]:
means.unstack().T

产地,中国台湾,中国大陆,中国香港,丹麦,俄罗斯,其他,加拿大,印度,墨西哥,巴西,...,波兰,泰国,澳大利亚,瑞典,美国,英国,荷兰,西班牙,阿根廷,韩国
年代,,,,,,,,,,,,,,,,,,,,,
1888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.950000,NaN,NaN,NaN,NaN
1890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.800000,NaN,NaN,NaN,NaN,NaN
1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.450000,NaN,NaN,NaN,NaN,NaN
1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,6.556098,5.727187,6.110526,7.418750,6.572727,6.591743,6.425000,6.502632,7.100000,7.32,...,7.066667,5.962963,6.614286,5.9625,6.437622,7.293103,6.766667,6.595238,6.483333,6.064151
2013,7.076471,5.316667,6.105714,6.555556,6.875000,6.853571,6.018182,6.400000,6.983333,8.00,...,6.966667,5.568000,6.760000,7.1000,6.339668,7.448322,6.563636,6.358333,6.616667,6.098198
2014,6.522222,4.963757,5.616667,7.120000,7.175000,6.596250,5.921739,6.374194,7.250000,6.86,...,7.060000,5.653571,6.568750,6.9600,6.415922,7.275000,7.300000,6.868750,7.150000,5.650833
2015,6.576000,4.969189,5.589189,7.166667,7.342857,6.735714,6.018750,6.736364,6.500000,6.76,...,6.300000,5.846667,6.880000,7.6250,6.278641,7.155056,6.700000,6.514286,7.233333,5.423853
2016,NaN,4.712000,5.390909,7.000000,NaN,7.225000,6.200000,6.900000,NaN,NaN,...,NaN,NaN,NaN,NaN,6.540909,7.200000,NaN,NaN,NaN,5.730000

In [121]:
df["评分等级"]=pd.cut(df["评分"],[0,3,5,7,9,10],labels=["E","D","C","B","A"])

In [123]:
df

,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级
0,1994,美国,0,0,0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A
1,1957,美国,1,1,1,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A
2,1997,意大利,2,2,2,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A
3,1994,美国,3,3,3,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A
4,1993,中国大陆,4,4,4,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38727,1983,法国,38727,38733,38733,神学院 S,46,Adult,1905-06-05 00:00:00,58,8.6,美国,B
38728,1935,美国,38728,38734,38734,1935年,57,喜剧/歌舞,1935-03-15 00:00:00,98,7.6,美国,B
38729,1986,中国大陆,38729,38735,38735,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,1905-06-08 00:00:00,91,7.1,美国,B
38730,1986,中国大陆,38730,38736,38736,魔窟中的幻想,51,惊悚/恐怖/儿童,1905-06-08 00:00:00,78,8.0,美国,B
38731,1977,俄罗斯,38731,38737,38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,1905-05-30 00:00:00,97,6.6,美国,C

In [137]:
bins=np.percentile(df["投票人数"],[0,20,40,60,80,100])

In [141]:
df["热门程度"]=pd.cut(df["投票人数"],bins,labels=["E","D","C","B","A"])

In [143]:
df[(df.热门程度=="A")&(df.评分等级=="E")]

,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
655,2011,中国大陆,655,655,655,B区,5187,剧情/惊悚/恐怖,2011-06-03 00:00:00,89,2.3,中国大陆,E,A
4376,2014,中国大陆,4376,4376,4376,怖偶,4867,悬疑/惊悚,2014-05-07 00:00:00,88,2.8,中国大陆,E,A
5413,2011,中国大陆,5413,5413,5413,床下有人,4309,悬疑/惊悚,2011-10-14 00:00:00,100,2.8,中国大陆,E,A
6802,2013,中国大陆,6802,6802,6802,帝国秘符,4351,动作/冒险,2013-09-18 00:00:00,93,3.0,中国大陆,E,A
8232,2011,中国大陆,8232,8232,8232,飞天,4764,剧情,2011-07-01 00:00:00,115,2.9,中国大陆,E,A
8406,2014,中国大陆,8406,8406,8406,分手达人,3937,喜剧/爱情,2014-06-06 00:00:00,90,2.7,中国大陆,E,A
9601,2012,中国大陆,9601,9601,9601,孤岛惊魂,2982,悬疑/惊悚/恐怖,2013-01-26 00:00:00,93,2.8,中国大陆,E,A
10513,2013,中国大陆,10513,10513,10513,海天盛宴·韦口,3788,情色,2013-10-12 00:00:00,88,2.9,网络,E,A
16799,2013,中国大陆,16799,16800,16800,孪生密码,6390,动作/悬疑,2013-11-08 00:00:00,96,2.9,中国大陆,E,A
21536,2010,日本,21536,21539,21539,拳皇,6329,动作/科幻/冒险,2012-10-12 00:00:00,93,3.0,中国大陆,E,A
22708,2013,中国大陆,22708,22711,22711,闪魂,3119,惊悚/犯罪,2014-02-21 00:00:00,94,2.6,中国大陆,E,A
22886,2015,中国大陆,22886,22889,22889,少年毛泽东,3058,动画/儿童/冒险,2015-04-30 00:00:00,76,2.4,中国大陆,E,A
24131,2013,英国,24131,24134,24134,史前怪兽,3543,动作/惊悚/冒险,2014-01-01 00:00:00,89,3.0,中国大陆,E,A
28264,2011,中国大陆,28264,28267,28267,无极限之危情速递,6319,喜剧/动作/爱情/冒险,2011-08-12 00:00:00,94,2.8,中国大陆,E,A
32101,2010,中国大陆,32101,32105,32105,异度公寓,3639,惊悚,2010-06-04 00:00:00,93,2.7,中国大陆,E,A
32494,2014,中国大陆,32494,32498,32498,英雄之战,8359,动作/爱情,2014-03-21 00:00:00,90,3.0,中国大陆,E,A
32667,2013,中国大陆,32667,32671,32671,咏春小龙,8861,剧情/动作,2013-07-20 00:00:00,90,3.0,中国大陆,E,A
33491,2014,中国大陆,33491,33496,33496,再爱一次好不好,6999,喜剧/爱情,2014-04-11 00:00:00,94,3.0,中国大陆,E,A
38660,2014,中国大陆,38660,38665,38665,大话天仙,21629,喜剧/奇幻/古装,2014-02-02 00:00:00,91,3.0,中国大陆,E,A
38662,2013,中国大陆,38662,38667,38667,天机·富春山居图,74709,动作/冒险,2013-06-09 00:00:00,122,2.9,中国大陆,E,A
38663,2014,中国大陆,38663,38668,38668,特工艾米拉,10852,动作/悬疑,2014-04-11 00:00:00,96,2.7,中国大陆,E,A
38667,2015,中国大陆,38667,38672,38672,汽车人总动员,12892,喜剧/动画/冒险,2015-07-03 00:00:00,85,2.3,中国大陆,E,A
38672,2016,中国大陆,38672,38677,38677,2016年中央电视台春节,17328,歌舞/真人秀,2016-02-07 00:00:00,280,2.3,中国大陆,E,A
38678,2014,中国大陆,38678,38683,38683,放手爱,29254,喜剧/爱情,2014-04-30 00:00:00,93,2.3,中国大陆,E,A

In [145]:
df.to_excel("movie_data3.xlsx")

In [147]:
df_usa=df[df.产地=="美国"]
df_china=df[df.产地=="中国大陆"]

In [151]:
df_china._append(df_usa)

,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
4,1993,中国大陆,4,4,4,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
21,1961,中国大陆,21,21,21,大闹天宫,74881,动画/奇幻,1905-05-14 00:00:00,114,9.2,上集,A,A
29,2015,中国大陆,29,29,29,穹顶之下,51113,纪录片,2015-02-28 00:00:00,104,9.2,中国大陆,A,A
38,1982,中国大陆,38,38,38,茶馆,10678,剧情/历史,1905-06-04 00:00:00,118,9.2,美国,A,A
45,1988,中国大陆,45,45,45,山水情,10781,动画/短片,1905-06-10 00:00:00,19,9.2,美国,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38719,1987,美国,38719,38724,38724,跷家的一夜,82,喜剧/动作/惊悚/冒险,1987-07-01 00:00:00,102,7.8,美国,B,D
38721,1987,美国,38721,38726,38726,零下的激情,199,剧情/爱情/犯罪,1987-11-06 00:00:00,98,7.4,美国,B,D
38723,1986,美国,38723,38728,38728,离别秋波,240,剧情/爱情/音乐,1986-02-19 00:00:00,90,8.2,美国,B,C
38726,1986,美国,38726,38732,38732,极乐森林,45,纪录片,1986-09-14 00:00:00,90,8.1,美国,B,E
38728,1935,美国,38728,38734,38734,1935年,57,喜剧/歌舞,1935-03-15 00:00:00,98,7.6,美国,B,E

In [153]:
df1=df.loc[:5]
df1

,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
0,1994,美国,0,0,0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A
1,1957,美国,1,1,1,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A
2,1997,意大利,2,2,2,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A
3,1994,美国,3,3,3,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A
4,1993,中国大陆,4,4,4,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
5,2012,美国,5,5,5,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A

In [155]:
df2=df.loc[:5][["名字","产地"]]
df2["票房"]=[12344,33444,45566,33443,33445,344]
df2

       名字    产地     票房
0  肖申克的救赎    美国  12344
1    控方证人    美国  33444
2   美丽人生    意大利  45566
3    阿甘正传    美国  33443
4    霸王别姬  中国大陆  33445
5  泰坦尼克号     美国    344

In [159]:
df2=df2.sample(frac=1)
df2

       名字    产地     票房
2   美丽人生    意大利  45566
3    阿甘正传    美国  33443
0  肖申克的救赎    美国  12344
5  泰坦尼克号     美国    344
1    控方证人    美国  33444
4    霸王别姬  中国大陆  33445

In [161]:
df2.index=range(len(df2))
df2

       名字    产地     票房
0   美丽人生    意大利  45566
1    阿甘正传    美国  33443
2  肖申克的救赎    美国  12344
3  泰坦尼克号     美国    344
4    控方证人    美国  33444
5    霸王别姬  中国大陆  33445

In [163]:
pd.merge(df1,df2,how="inner",on="名字")

,年代,产地_x,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度,产地_y,票房
0,1994,美国,0,0,0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A,美国,12344
1,1957,美国,1,1,1,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A,美国,33444
2,1997,意大利,2,2,2,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A,意大利,45566
3,1994,美国,3,3,3,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A,美国,33443
4,1993,中国大陆,4,4,4,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A,中国大陆,33445
5,2012,美国,5,5,5,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A,美国,344

In [173]:
df1=df[:10]
df2=df[100:110]
df3=df[200:210]

In [185]:
dff=pd.concat([df1,df2,df3])

In [187]:
dff

,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
0,1994,美国,0,0,0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A
1,1957,美国,1,1,1,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A
2,1997,意大利,2,2,2,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A
3,1994,美国,3,3,3,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A
4,1993,中国大陆,4,4,4,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
5,2012,美国,5,5,5,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A
6,1993,美国,6,6,6,辛德勒的名单,306904,剧情/历史/战争,1993-11-30 00:00:00,195,9.4,华盛顿首映,A,A
7,1997,日本,7,7,7,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,1997-07-19 00:00:00,87,9.4,日本,A,A
8,2013,日本,8,8,8,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,2013-07-06 00:00:00,110,9.4,日本,A,A
9,1994,法国,9,9,9,这个杀手不太冷,662552,剧情/动作/犯罪,1994-09-14 00:00:00,133,9.4,法国,A,A
100,1993,韩国,100,100,100,101,146,喜剧/爱情,1993-06-19 00:00:00,112,7.4,韩国,B,D
101,1995,英国,101,101,101,10,186,喜剧,1995-01-25 00:00:00,101,7.4,美国,B,D
102,2013,韩国,102,102,102,素媛,114819,剧情/家庭,2013-10-02 00:00:00,123,9.1,韩国,A,A
103,2003,美国,103,103,103,101忠狗续集：伦敦,924,喜剧/动画/家庭,2003-01-21 00:00:00,70,7.5,美国,B,B
104,2000,美国,104,104,104,10,9514,喜剧/家庭,2000-09-22 00:00:00,100,7.0,美国,C,A
105,2013,韩国,105,105,105,10,601,剧情,2014-04-24 00:00:00,93,7.2,美国,B,C
106,2006,美国,106,106,106,10件或,1770,剧情/喜剧/爱情,2006-12-01 00:00:00,82,7.7,美国,B,B
107,2014,美国,107,107,107,10年,1531,喜剧/同性,2015-06-02 00:00:00,90,6.9,美国,C,B
108,2012,日本,108,108,108,11·25自决之日 三岛由纪夫与年轻人们 11・25自決の,149,剧情,2012-06-02 00:00:00,119,5.6,日本,C,D
109,1997,美国,109,109,109,泰坦尼克号,535491,剧情/爱情/灾难,1998-04-03 00:00:00,194,9.1,中国大陆,A,A
200,2014,日本,200,200,200,最完美的离婚 2014特别篇,18478,剧情/喜剧/爱情,2014-02-08 00:00:00,120,9.1,日本,A,A
201,2009,日本,201,201,201,2001夜物,84,剧情/动画,2009-10-02 00:00:00,80,6.6,美国,C,D
202,2009,中国香港,202,202,202,头七 頭,7039,恐怖,2009-05-21 00:00:00,60,6.2,美国,C,A
203,1896,法国,203,203,203,火车进站 L,7001,纪录片/短片,1896-01-06,60,8.8,法国,B,A
204,2009,美国,204,204,204,银行舞蹈,6944,短片,1905-07-01 00:00:00,60,7.8,美国,B,A
205,2003,荷兰,205,205,205,2003提雅,48,音乐,2003-10-07 00:00:00,200,8.9,美国,B,E
206,2012,美国,206,206,206,死亡飞车3：地狱烈,6937,动作,2012-12-12 00:00:00,60,5.8,美国,C,A
207,2012,日本,207,207,207,时光钟摆 振り,6876,剧情/动画/短片,2012-03-20 00:00:00,60,8.7,美国,B,A
208,2011,中国香港,208,208,208,你还可爱么 你還可愛,6805,短片,2011-04-22 00:00:00,60,8.3,美国,B,A
209,2002,中国香港,209,209,209,一碌蔗,6799,剧情/喜剧/爱情,2002-09-19 00:00:00,60,6.7,美国,C,A